################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/proj.android/jni/pluginfacebook
/bin/debug/android
/.idea
/cocos2d
/proj.android/gen
/proj.android/bin
/proj.android/assets
/proj.android/.settings
/proj.android/.externalToolBuilders
